<div class="todo-list">
	<h1>Todo List</h1>
	<div class="tasks-content">
		<div *ngIf="!IsLoaded">
			<app-loader></app-loader>
		</div>
		<div *ngIf="IsLoaded">
			<app-task-item *ngFor="let item of todoList" [TaskItem]="item"></app-task-item>
		</div>
	</div>

	<!-- Add Item Form -->
	<div class="add-item-form">
		<input class="form-control" type="text" placeholder="Title" [(ngModel)]="newItem.title" />
		<textarea class="form-control" placeholder="Description" [(ngModel)]="newItem.description"></textarea>
		<button class="btn btn-primary" (click)="addItem()">Add Item</button>
	</div>
</div>
