.todo-list {
	flex-direction: column;

	.tasks-content {
		padding: 20px;
		width: 100%;
		flex-grow: 1;
	}

	.add-item-form {
		padding: 5px 10px;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: flex-end;

		.text {
			width: 100%;
			input {
				margin-bottom: 10px;
			}
		}
		button {
			margin-inline-start: 5px;
		}
	}
}
