<div class="todo-list page-section">
	<div class="title">
		<h1>Todo List</h1>
		<button (click)="ToggleShowAll()" class="btn btn-primary show-all">{{ ShowAll ? 'hide completed' : 'Show completed' }}</button>
	</div>
	<div class="tasks-content">
		<div *ngIf="!IsLoaded" class="d-flex justify-content-center">
			<app-loader></app-loader>
		</div>
		<div *ngIf="IsLoaded">
			<div class="item" *ngFor="let item of filteredTodoList">
				<app-task-item [TaskItem]="item"></app-task-item>
			</div>
			<div *ngIf="!IsAdded" class="text-center">
				<app-loader></app-loader>
			</div>
		</div>
	</div>

	<!-- Add Item Form -->
	<div class="add-item-form">
		<div class="box-shadow"></div>
		<div class="text">
			<input class="form-control" type="text" placeholder="Reminder" [(ngModel)]="newItem.Title" />
			<textarea class="form-control" placeholder="Add Note" [(ngModel)]="newItem.Description"></textarea>
		</div>
		<button class="btn btn-primary" (click)="addItem()">
			<fa-icon [icon]="faPlus"></fa-icon>
		</button>
	</div>
</div>
