<div class="form-group">
	<input [id]="'task-item' + item.Id" type="checkbox" name="taskStatus" [checked]="item.Status" (change)="ToggleItemStatus()" />
	<!-- <label [for]="'task-item' + item.Id" class="todo-item"> </label> -->
	<div class="todo-item">
		<span class="item-title">{{ item.Title }}</span>
		<p class="item-description">{{ item.Description }}</p>
	</div>
	<div class="actions">
		<button (click)="ToggleItemStatus()" class="btn btn-outline-success">
			<fa-icon [icon]="faCheck"></fa-icon>
			<!-- <i class="fa fa-check" aria-hidden="true"></i> -->
		</button>
		<button (click)="Delete()" class="btn btn-outline-danger">
			<fa-icon [icon]="faTrash"></fa-icon>
			<!-- <i class="fa fa-trash-o" aria-hidden="true"></i> -->
		</button>
	</div>
</div>
