<div class="form-group">
	<input [id]="'task-item' + item.Id" type="radio" name="taskStatus" [(ngModel)]="item.Status" [value]="item.Id" />
	<label [for]="'task-item' + item.Id" class="todo-item">
		<span class="item-title">{{ item.Title }}</span>
		<p class="item-description">{{ item.Description }}</p>
	</label>
	<div class="actions">
		<button (click)="ToggleItemStatus()" class="btn btn-outline-success">
			<fa-icon [icon]="faCheck"></fa-icon>
			<!-- <i class="fa fa-check" aria-hidden="true"></i> -->
		</button>
		<button class="btn btn-outline-danger">
			<fa-icon [icon]="faTrash"></fa-icon>
			<!-- <i class="fa fa-trash-o" aria-hidden="true"></i> -->
		</button>
	</div>
</div>
