.form-group {
	display: flex;
	align-items: flex-start;

	input {
		margin-top: 10px;
	}

	label {
		width: 100%;
		margin-inline-start: 10px;

		p {
			font-size: small;
			color: grey;
		}
	}

	.actions {
		display: flex;
		justify-items: center;
		align-items: center;
		opacity: 0;
		transition: all 0.3s ease-in-out;
	}

	&:hover {
		.actions {
			opacity: 1;
		}
	}
}
